name: Go Tests

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - uses: actions/checkout@v6.0.1

      - name: Set up Go
        uses: actions/setup-go@v5.2.0
        with:
          go-version-file: 'go.mod'

      - name: Run Go Unit Tests
        run: make go-test-unit

      - name: Run Go Coverage Tests
        run: make go-test-coverage

      - name: Code Coverage Summary
        uses: irongut/CodeCoverageSummary@v1.3.0
        with:
          filename: logs/coverage/coverage.xml
          badge: true
          fail_below_min: false
          format: markdown
          hide_branch_rate: false
          hide_complexity: true
          indicators: true
          output: both
          thresholds: '60 80'

      - name: Add Coverage PR Comment
        uses: marocchino/sticky-pull-request-comment@v2.9.0
        if: github.event_name == 'pull_request'
        with:
          recreate: true
          path: code-coverage-results.md

      - name: Upload Coverage Report
        uses: actions/upload-artifact@v4.5.0
        with:
          name: coverage-report
          path: logs/coverage/
          retention-days: 30
