name: Renovate

on:
  schedule:
    - cron: "0 3 * * 1"
  workflow_dispatch:

jobs:
  renovate:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
      issues: write
      checks: read
      id-token: write
    steps:
      - uses: actions/checkout@v6.0.1

      - name: Run Renovate
        uses: sentenz/actions/renovate@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          autodiscover: "true"
          log-level: "info"
          timezone: "UTC"
