name: Renovate

on:
  schedule:
    - cron: '0 3 * * 1'
  workflow_dispatch:

jobs:
  renovate:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
      issues: write
      checks: read
      id-token: write
    steps:
      - uses: actions/checkout@v6.0.1
      - name: Renovate
        uses: renovatebot/github-action@v44.2.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
        env:
          TZ: UTC
