# SPDX-License-Identifier: Apache-2.0

name: Semantic-Release

on:
  push:
    branches:
      - main
      - next
      - beta
      - alpha

jobs:
  semantic-release:
    name: Semantic-Release Action
    runs-on: ubuntu-latest
    outputs:
      tag_name: ${{ steps.release.outputs.tag_name }}
    permissions:
      contents: write
      issues: write
      pull-requests: write
      id-token: write
    steps:
      - name: Checkout (full history)
        uses: actions/checkout@v6.0.1
        with:
          fetch-depth: 0
          persist-credentials: true

      - name: Run Semantic Release
        id: release
        uses: sentenz/actions/semantic-release@1.1.3
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          semantic-version: "latest"

  trivy-sbom-generation:
    name: Trivy Action - SBOM Publish
    runs-on: ubuntu-latest
    needs: semantic-release
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1
        with:
          fetch-depth: 0

      - name: Run SBOM Generation (CycloneDX)
        uses: sentenz/actions/trivy@1.1.3
        with:
          scan-type: sbom-generate
          scan-target: "."
          format: cyclonedx
          output: sbom.cdx.json

      - name: Run SBOM Generation (SPDX)
        uses: sentenz/actions/trivy@1.1.3
        with:
          scan-type: sbom-generate
          scan-target: "."
          format: spdx-json
          output: sbom.spdx.json

      - name: Publish SBOM artifacts
        uses: softprops/action-gh-release@v2.5.0
        with:
          tag_name: ${{ steps.release.outputs..tag_name }}
          files: |
            sbom.cdx.json
            sbom.spdx.json
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
