name: Semantic-Release

on:
  push:
    branches:
      - main

jobs:
  semantic-release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      issues: write
      pull-requests: write
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1
        with:
          fetch-depth: 0
      - name: Semantic Release
        uses: cycjimmy/semantic-release-action@v6.0.0
        with:
          semantic_version: 25.0.2
          extra_plugins: |
            @semantic-release/changelog
            @semantic-release/git
            @semantic-release/exec
            semantic-release-commitlint
            semantic-commitlint
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
