name: Semgrep

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  semgrep:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.1

      - name: Run Semgrep
        uses: sentenz/actions/semgrep@latest
        with:
          path: "."
          config: "auto"
          metrics: "off"
          no-secrets-validation: "true"
